@{
    Layout = "~/Views/Shared/_LayoutRestaurant.cshtml";
}

<div class="col-md-4">
    <h2 class="text-center">New Request</h2>
    <div class="d-flex align-items-center justify-content-center">
        <form method="post">
            <div class="form-group">
                <label for="expiry_date">Expire Date</label>
                <input type="date" class="form-control" id="expiry_date" name="expiry_date">
            </div>
            <div class="form-group">
                <label for="description">Food Description</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Post Request</button>
            </div>
        </form>
    </div>
</div>