@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model ZeroHunger.DTOs.DistributionDTO

@{
    ViewBag.Title = "AcceptRequest";
}


<div class="col-md-4">
    <h2 class="text-center">New Request</h2>
    <div class="d-flex align-items-center justify-content-center">
        <form method="post">
            <div class="form-group">
                <label for="request_id">Request ID</label>
                <input type="text" class="form-control" id="request_id" name="request_id" value="@Model.request_id" readonly>
            </div>
            <div class="form-group">
                <label for="dist_date">Distribution Date</label>
                <input type="datetime" class="form-control" id="dist_date" name="dist_date" value="@Model.dist_date" readonly>
            </div>
            <div class="form-group">
                <label for="emp_id">Assign Employee ID</label>
                <input type="number" class="form-control" id="emp_id" name="emp_id">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Post Request</button>
            </div>
        </form>
    </div>
</div>