@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "showRequests";
}


<div>
    <h1 class="text-center">All requests from the restaurants</h1><br />
    <table class="table table-striped table-bordered">
        <tr>
            <th>Request ID</th>
            <th>Restaurant ID</th>
            <th>Expiry Date</th>
            <th>Status</th>
            <th class="text-center" colspan="2"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.restaurant_id</td>
                <td>@item.expiry_date</td>
                <td>@item.status</td>
                <td class="text-center"><a href="/home/AcceptRequest/@item.id" class="btn btn-primary">Accept Request</a></td>
            </tr>
        }

    </table>
</div>
